.abas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aba-nav {
  width: 100%;
  display: flex;
}

.aba {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--cor-linha);
  cursor: pointer;

  &:hover {
    color: var(--cor-primaria);
    background-color: var(--cor-superficie);
    border-radius: var(--raio-borda) var(--raio-borda) 0 0;
  }

  &.ativa {
    color: var(--cor-primaria);
    border-color: var(--cor-secundaria);
    background-color: var(--cor-superficie);
    border-radius: var(--raio-borda) var(--raio-borda) 0 0;
    overflow: hidden;
  }

  & p {
    margin: 0;
  }
}

.aba-conteudo {
  display: none;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aba-conteudo.ativa {
  display: flex;
  opacity: 1;
}
