@import url(icones-correios-outline.css);
@import url(cores.css);
@import url(elementos-marca.css);
@import url(links.css);
@import url(botoes.css);
@import url(inputs.css);
@import url(cards.css);
@import url(chips.css);
@import url(dialog.css);
@import url(passos.css);
@import url(info-mais.css);
@import url(abas.css);
@import url(code-box.css);
@import url(menu-lateral.css);
@import url(menu-temp.css);
@import url(barra-acessibilidade.css);
@import url(topo.css);
@import url(rodape.css);

@property --sidenav-w {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

:root {
  /* Raio da borda padrão*/
  --raio-borda: 0.5rem;
  --raio-borda-g: 1rem;
  --raio-borda-gg: 1.5rem;

  /* Espaçamentos*/
  --espaco-xp: 0.25rem;
  --espaco-p: 0.5rem;
  --espaco-m: 1rem;
  --espaco-g: 1.5rem;
  --espaco-xg: 2rem;
  --espaco-2xg: 3rem;

  /* Tamanhos de telas para breakpoints */
  --tela-xp: 599px;
  --tela-p: 600px;
  --tela-m: 900px;
  --tela-g: 1240px;
  --tela-xg: 1440px;

  /* Largura máxima da página (body) e do conteúdo (main) */
  --largura-maxima: 1400px;
  --largura-maxima-conteudo: 900px;

  /* Tamanhos de fontes variáveis*/
  --fonte--2: 0.75rem;
  --fonte--1: 0.875rem;
  --fonte-0: 1rem;
  --fonte-1: clamp(1.125rem, 1.0357rem + 0.2381vw, 1.25rem);
  --fonte-2: clamp(1.2656rem, 1.0536rem + 0.5655vw, 1.5625rem);
  --fonte-3: clamp(1.4238rem, 1.0458rem + 1.0082vw, 1.9531rem);
  --fonte-4: clamp(1.6018rem, 1.0021rem + 1.5992vw, 2.4414rem);
  --fonte-5: clamp(1.802rem, 0.9094rem + 2.3804vw, 3.0518rem);
  --fonte-display: clamp(2.0273rem, 0.7506rem + 3.4046vw, 3.8147rem);

  /* Elevações */
  --elev1: 0 2px 4px rgba(0, 0, 0, 0.15);
  --elev2: 0 3px 6px rgba(0, 0, 0, 0.17), 0 6px 10px rgba(0, 0, 0, 0.14);
  --elev3: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.17);
  --elev4: 0 6px 12px rgba(0, 0, 0, 0.25), 0 14px 22px rgba(0, 0, 0, 0.2);
  --elev5: 0 8px 16px rgba(0, 0, 0, 0.3), 0 20px 32px rgba(0, 0, 0, 0.25);
}

html {
  scrollbar-gutter: stable;
}

body {
  position: relative;
  font-family: 'Trebuchet MS', 'Roboto', 'Helvetica', 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--cor-fundo);
  color: var(--cor-sobre-fundo);

  max-width: var(--largura-maxima);
  margin: 0 auto;
  display: grid;
  z-index: 0;
  overflow: auto;

  grid-template-columns: var(--sidenav-w) minmax(0, 1fr);
  grid-auto-rows: min-content min-content auto min-content;
  grid-template-areas:
    'acess acess'
    'header header'
    'sidenav main'
    'footer footer';
  min-height: 100vh;
  gap: 1rem 0;

  transition: --sidenav-w 0.15s ease; /* anima a coluna */
}

body:has(nav#menu.menu-aberto) {
  --sidenav-w: 320px;
  grid-template-columns: --sidenav-w auto;
}

body:has(nav#menu.menu-aberto) #btn-menu i:before {
  content: '\e921';
}

main {
  width: 100%;
  min-width: 0;
  max-width: var(--largura-maxima-conteudo);
  justify-self: center;
  padding: 1rem;
  box-sizing: border-box;
  grid-area: main;
  transition: margin-left 0.3s ease;
  scroll-margin-top: 5rem;
}

@media screen and (max-width: 899px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'acess'
      'header'
      'main'
      'footer';
  }

  body:has(nav#menu.menu-aberto) {
    overflow: hidden;
    touch-action: none;
  }
}

/* ACESSIBILIDADE */
.esconder-visualmente {
  /* Esconde visualmente elementos e mantém a leitura através de leitores de tela */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* FACILIDADE */
.borda-redonda {
  border-radius: var(--raio-borda);
}

.borda-redonda-g {
  border-radius: var(--raio-borda-g);
}

.borda-redonda-gg {
  border-radius: var(--raio-borda-gg);
}

.borda-redonda-total {
  border-radius: 5cqh;
}

.separador-ver {
  width: 1px;
  border-left: 1px solid var(--cor-linha);
  align-self: stretch;
}

.separador-hor {
  height: 1px;
  border-bottom: 1px solid var(--cor-linha);
  align-self: stretch;
}

/**** TIPOGRAFIA ****/
h1,
.t1,
h2,
.t2,
h3,
.t3,
h4,
.t4,
h5,
.t5,
h6,
.t6 {
  line-height: 1.15;
  font-weight: 700;
  margin-block-end: 1rem;
  margin-block-start: 0.5rem;
  color: var(--cor-titulos);
}

/* Display */
.display {
  font-size: var(--fonte-display);
  line-height: 1.1;
  margin-top: 0;
  margin-block-end: 1rem;
  margin-block-start: 0.5rem;
}

/* Títulos */
h1,
.t1 {
  font-size: var(--fonte-5);
}

h2,
.t2 {
  font-size: var(--fonte-4);
}

h3,
.t3 {
  font-size: var(--fonte-3);
}

h4,
.t4 {
  font-size: var(--fonte-2);
}

h5,
.t5 {
  font-size: var(--fonte-1);
}

h6,
.t6 {
  font-size: var(--fonte-0);
}

/* Subtítulos */
.subtitulo {
  font-size: var(--fonte-0);
  font-weight: 500;
}

.subtitulo-p {
  font-size: var(--fonte--1);
  font-weight: 400;
}

/* Corpo */
p {
  font-size: var(--fonte-0);
  line-height: 1.5;
  margin-block-end: 1rem;
}

p.pequeno,
.pequeno,
small {
  /* font-size: 0.875em; */
  font-size: var(--fonte--1);
}

p.mini,
.mini,
span.mini {
  /* font-size: 0.75em; */
  font-size: var(--fonte--2);
  font-weight: bold;
}

.fonte-azul-correios {
  color: var(--cor-fonte-azul-correios);
}

/* Legendas */
figcaption,
.legenda {
  font-size: var(--fonte--1);
  font-style: italic;
}

/* Quebra de Linha */
hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--cor-linha);
}

/**** BACKGROUNDS E CORES DE TEXTO ****/
.bg-fundo {
  background-color: var(--cor-fundo);
  color: var(--cor-sobre-fundo);
}

.bg-superficie {
  background-color: var(--cor-superficie);
  color: var(--cor-sobre-superficie);
}

.bg-superficie-var {
  background-color: var(--cor-superficie-var);
  color: var(--cor-sobre-superficie-var);
}

body.alto-contraste .bg-superficie,
body.alto-contraste .bg-superficie-var {
  outline: 1px solid var(--cor-linha);
}

.bg-primaria {
  background-color: var(--cor-primaria);
  color: var(--cor-sobre-primaria);
}

.bg-secundaria {
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
}

.bg-azul-correios {
  background-color: var(--primaria700);
  color: var(--cor-sobre-primaria);
}

body.tema-escuro .bg-azul-correios {
  color: var(--branco);
}

body.alto-contraste .bg-azul-correios {
  background-color: var(--cor-ac-preto);
  color: var(--cor-ac-branco);
  outline: 1px solid var(--cor-linha);
}

/**** ELEVAÇÕES ****/
.elev1 {
  box-shadow: var(--elev1);
}

.elev2 {
  box-shadow: var(--elev2);
}

.elev3 {
  box-shadow: var(--elev3);
}

.elev4 {
  box-shadow: var(--elev4);
}

.elev5 {
  box-shadow: var(--elev5);
}

/* ↳ Elevações no tema escuro */
body.tema-escuro .bg-fundo.elev1 {
  background: color-mix(in lab, var(--cor-fundo) 98%, white 2%);
}

body.tema-escuro .bg-fundo.elev2 {
  background: color-mix(in lab, var(--cor-fundo) 97%, white 3%);
}

body.tema-escuro .bg-fundo.elev3 {
  background: color-mix(in lab, var(--cor-fundo) 96%, white 4%);
}

body.tema-escuro .bg-fundo.elev4 {
  background: color-mix(in lab, var(--cor-fundo) 95%, white 5%);
}

body.tema-escuro .bg-fundo.elev5 {
  background-color: color-mix(in lab, var(--cor-fundo) 94%, white 6%);
}

body.tema-escuro .bg-superficie.elev1 {
  background: color-mix(in lab, var(--cor-superficie) 98%, white 2%);
}

body.tema-escuro .bg-superficie.elev2 {
  background: color-mix(in lab, var(--cor-superficie) 97%, white 3%);
}

body.tema-escuro .bg-superficie.elev3 {
  background: color-mix(in lab, var(--cor-superficie) 96%, white 4%);
}

body.tema-escuro .bg-superficie.elev4 {
  background: color-mix(in lab, var(--cor-superficie) 95%, white 5%);
}

body.tema-escuro .bg-superficie.elev5 {
  background-color: color-mix(in lab, var(--cor-superficie) 94%, white 6%);
}

body.tema-escuro .bg-superficie-var.elev1 {
  background: color-mix(in lab, var(--cor-superficie-var) 98%, white 2%);
}

body.tema-escuro .bg-superficie-var.elev2 {
  background: color-mix(in lab, var(--cor-superficie-var) 97%, white 3%);
}

body.tema-escuro .bg-superficie-var.elev3 {
  background: color-mix(in lab, var(--cor-superficie-var) 96%, white 4%);
}

body.tema-escuro .bg-superficie-var.elev4 {
  background: color-mix(in lab, var(--cor-superficie-var) 95%, white 5%);
}

body.tema-escuro .bg-superficie-var.elev5 {
  background-color: color-mix(in lab, var(--cor-superficie-var) 94%, white 6%);
}

/* ↳ Elevações em alto contraste */
body.alto-contraste .elev1,
body.alto-contraste .elev2,
body.alto-contraste .elev3,
body.alto-contraste .elev4,
body.alto-contraste .elev5 {
  border: 1px solid var(--cor-ac-branco);
}

body.alto-contraste .elev2 {
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.4);
}

body.alto-contraste .elev3 {
  box-shadow: 0px 2px 0px 1px rgba(255, 255, 255, 0.4);
}

body.alto-contraste .elev4 {
  box-shadow: 0px 3px 0px 1px rgba(255, 255, 255, 0.4);
}

body.alto-contraste .elev5 {
  box-shadow: 0px 4px 0px 1px rgba(255, 255, 255, 0.4);
}

/* Ajustes sobre css de ícones do Fontello */
[class^='ic-']:before,
[class*=' ic-']:before {
  font-size: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  margin-right: 0;
  margin-left: 0;
}

/* Ícones traco e outline em <img> tag */
img.ic-traco,
img.ic-outline {
  filter: invert(24%) sepia(69%) saturate(2298%) hue-rotate(181deg)
    brightness(90%) contrast(101%);
}

body.tema-escuro img.ic-traco,
body.tema-escuro img.ic-outline {
  filter: invert(74%) sepia(63%) saturate(1638%) hue-rotate(173deg)
    brightness(99%) contrast(106%);
}

body.tema-escuro .bg-secundaria img.ic-traco,
body.tema-escuro .bg-secundaria img.ic-outline {
  filter: invert(24%) sepia(69%) saturate(2298%) hue-rotate(181deg)
    brightness(90%) contrast(101%);
}

body.alto-contraste img.ic-traco,
body.alto-contraste img.ic-outline {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(288deg)
    brightness(106%) contrast(101%);
}

body.alto-contraste .bg-secundaria img.ic-traco,
body.alto-contraste .bg-secundaria img.ic-outline {
  filter: none;
}

/* Marca Correios - Imagem em Temas e Alto Contraste */
img.neg {
  display: none;
}

body.alto-contraste img.pos,
body.tema-escuro img.pos {
  display: none;
}

body.alto-contraste img.neg,
body.tema-escuro img.neg {
  display: block;
}
