:root {
    --cor-btn-pre: ;
    --cor-btn-pre-sobre: ;
  --cor-btn-pre-hover: var(--primaria700);
  --cor-btn-pre-desab: var(--neutra-var300);
  --cor-btn-pre-alt-hover: var(--secundaria500);
  --cor-btn-pre-alt-desab: var(--neutra-var300);
  --cor-btn-pre-alt-desab-sobre: var(--neutra700);

  --cor-btn-cont-hover: var(--cor-primaria-alpha);
  --cor-btn-cont-desab-sobre: var(--neutra-var600);

  --cor-btn-txt-hover: var(--cor-primaria-alpha);

  --cor-btn-alt-focus: var(--branco);

  --cor-btn-flu-hover: var(--secundaria500);
}

body.tema-escuro {
  --cor-btn-pre-hover: var(--primaria50);
  --cor-btn-pre-desab: var(--neutra-var800);

  --cor-btn-cont-hover: var(--cor-primaria-alpha);
  --cor-btn-txt-hover: var(--cor-primaria-alpha);

  --cor-btn-cont-desab-sobre: var(--neutra-var300);
}

body.alto-contraste {
  --cor-btn-pre-hover: var(--cor-ac-branco);
  --cor-btn-pre-desab: var(--cor-ac-preto);
  --cor-btn-pre-alt-desab: var(--cor-ac-preto);
  --cor-btn-pre-alt-desab-sobre: var(--cor-ac-branco);

  --cor-btn-cont-desab-sobre: var(--cor-ac-branco);

  --cor-btn-alt-focus: var(--cor-ac-branco);

  --cor-btn-cont-hover: transparent;
  --cor-btn-txt-hover: transparent;
}

button,
a.link-btn {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 8px 24px;
  gap: 8px;
  border: none;
  border-radius: var(--raio-borda);
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5rem;
  min-height: 40px;
  vertical-align: middle;
  transition: 0.2s;
  text-decoration: none;

  & span {
    text-align: left;
  }
}

button:focus-visible,
a.link-btn:focus-visible {
  transition: 0s;
  outline-offset: 3px;
  outline: 2px solid var(--cor-focus);
}

a.link-btn:focus {
  box-shadow: none;
}

button > i,
a.link-btn > i {
  height: 24px;
}

button > img {
  height: 1.5rem;
}

button i:first-child,
a.link-btn i:first-child,
a.link-btn img:first-child {
  margin-left: -0.3em;
}

button i:last-child,
a.link-btn i:last-child,
a.link-btn img:last-child {
  margin-right: -0.3em;
}

button i:first-child:only-child,
a.link-btn i:first-child:only-child,
a.link-btn img:first-child:only-child {
  margin-left: -0.3em;
  margin-right: 0;
}

button.ic-direita i:only-child,
a.link-btn.ic-direita i:only-child,
a.link-btn.ic-direita img:only-child {
  margin-left: 0;
  margin-right: -0.3em;
}

button.so-icone,
a.link-btn.so-icone {
  padding: 8px;
}

button.so-icone > i:first-child,
button.so-icone > i:last-child,
a.link-btn.so-icone > i:first-child,
a.link-btn.so-icone > i:last-child,
a.link-btn.so-icone > img:first-child,
a.link-btn.so-icone > img:last-child {
  margin-left: 0;
  margin-right: 0;
}

button > span,
a.link-btn > span {
  flex: 1;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/**** BOTÃO PREENCHIDO ****/
button.btn-pre,
a.link-btn.btn-pre {
  background-color: var(--cor-primaria);
  color: var(--cor-sobre-primaria);
}

button.btn-pre:hover,
button.btn-pre:active,
button.btn-pre.ativo,
a.link-btn.btn-pre:hover,
a.link-btn.btn-pre:active,
a.link-btn.btn-pre.ativo {
  background-color: var(--cor-btn-pre-hover);
  box-shadow: none;
}

button.btn-pre:focus-visible,
a.link-btn.btn-pre:focus-visible {
  outline: 2px solid var(--cor-focus);
}

button.btn-pre:focus-visible:active,
a.link-btn.btn-pre:focus-visible:active {
  outline: none;
}

a.link-btn.btn-pre:focus-visible:visited {
  color: var(--cor-sobre-primaria);
}

button.btn-pre:disabled {
  background-color: var(--cor-btn-pre-desab);
  color: var(--cor-sobre-fundo);
}

/* ↳ Botão preenchido Alternativo */
button.btn-pre.alt,
a.link-btn.btn-pre.btn-pre.alt {
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
}

a.link-btn.btn-pre.alt:visited {
  color: var(--cor-sobre-secundaria);
}

button.btn-pre.alt:hover,
button.btn-pre.alt:active,
button.btn-pre.alt.ativo,
a.link-btn.btn-pre.alt:hover,
a.link-btn.btn-pre.alt.ativo,
a.link-btn.btn-pre.alt:active {
  background-color: var(--cor-btn-pre-alt-hover);
  color: var(--cor-sobre-secundaria);
}

button.btn-pre.alt:focus-visible,
a.link-btn.btn-pre.alt:focus-visible {
  outline: 2px solid var(--cor-btn-alt-focus);
  background-color: var(--cor-secundaria);
}

button.btn-pre.alt:disabled,
a.link-btn.btn-pre.alt:disabled {
  background-color: var(--cor-btn-pre-desab);
  color: var(--cor-sobre-fundo);
}

/**** BOTÃO CONTORNO ****/
button.btn-cont,
a.link-btn.btn-cont {
  background-color: transparent;
  color: var(--cor-primaria);
  outline: 1px solid var(--cor-primaria);
}

button.btn-cont:hover,
button.btn-cont:active,
button.btn-cont.ativo,
a.link-btn.btn-cont:hover,
a.link-btn.btn-cont.ativo,
a.link-btn.btn-cont:active {
  background-color: var(--cor-btn-cont-hover);
  box-shadow: none;
}

button.btn-cont:focus-visible,
a.link-btn.btn-cont:focus-visible {
  outline: 2px solid var(--cor-focus);
}

button.btn-cont:disabled {
  outline: 1px solid var(--cor-contorno);
  color: var(--cor-sobre-fundo);
  background-color: transparent;
}

/* ↳ Botão Contorno Alternativo */
button.btn-cont.alt,
a.link-btn.btn-cont.alt {
  color: var(--cor-secundaria);
  outline: 1px solid var(--cor-secundaria);
}

button.btn-cont.alt:hover,
button.btn-cont.alt:active,
button.btn-cont.alt.ativo,
a.link-btn.btn-cont.alt:hover,
a.link-btn.btn-cont.alt.ativo,
a.link-btn.btn-cont.alt:active {
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
}

button.btn-cont.alt:focus-visible,
a.link-btn.btn-cont.alt:focus-visible {
  background-color: transparent;
  outline: 2px solid var(--cor-btn-alt-focus);
  color: var(--cor-secundaria);
}

button.btn-cont:focus-visible:active,
a.link-btn.btn-cont:focus-visible:active {
  outline: none;
}

button.btn-cont.alt:disabled {
  outline: 1px solid var(--cor-contorno);
  color: inherit;
  background-color: transparent;
}

/**** BOTÃO TEXTO ****/
button.btn-txt,
a.link-btn.btn-txt {
  background-color: transparent;
  color: var(--cor-primaria);
  padding: 8px 16px;
}

button.btn-txt.so-icone,
a.link-btn.btn-txt.so-icone {
  padding: 8px 8px;
}

button.btn-txt:hover,
button.btn-txt:active,
button.btn-txt.ativo,
a.link-btn.btn-txt:hover,
a.link-btn.btn-txt.ativo,
a.link-btn.btn-txt:active {
  background-color: var(--cor-btn-txt-hover);
  box-shadow: none;
}

button.btn-txt:focus-visible,
a.link-btn.btn-txt:focus-visible {
  outline: 2px solid var(--cor-focus);
}

button.btn-txt:focus-visible:active,
a.link-btn.btn-txt:focus-visible:active {
  outline: none;
}

button.btn-txt:disabled {
  color: inherit;
  background-color: transparent;
}

/* ↳ Botão Texto como um link */
button.btn-txt.como-link {
  padding: 0;
  outline-offset: 0;
  border-radius: 4px;
  line-height: inherit;
  font-size: inherit;
  text-decoration: underline;
  font-style: inherit;
}

/* ↳ Botão Texto Alternativo */
button.btn-txt.alt,
.bg-azul-correios button.btn-txt.como-link,
a.link-btn.btn-txt.alt,
.bg-azul-correios a.link-btn.btn-txt.como-link {
  background-color: transparent;
  color: var(--cor-secundaria);
}

button.btn-txt.alt:hover,
button.btn-txt.alt:active,
button.btn-txt.alt.ativo,
.bg-azul-correios button.btn-txt.como-link:hover,
.bg-azul-correios button.btn-txt.como-link:active,
.bg-azul-correios button.btn-txt.como-link.ativo,
a.link-btn.btn-txt.alt:hover,
a.link-btn.btn-txt.alt:active,
a.link-btn.btn-txt.alt.ativo,
.bg-azul-correios a.link-btn.btn-txt.como-link:hover,
.bg-azul-correios a.link-btn.btn-txt.como-link.ativo,
.bg-azul-correios a.link-btn.btn-txt.como-link:active {
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
}

button.btn-txt.alt:focus-visible,
.bg-azul-correios button.btn-txt.como-link:focus-visible,
a.link-btn.btn-txt.alt:focus-visible,
.bg-azul-correios a.link-btn.btn-txt.como-link:focus-visible {
  outline: 2px solid var(--cor-btn-alt-focus);
}

button.btn-txt.alt:disabled,
.bg-azul-correios button.btn-txt:disabled,
a.link-btn.btn-txt.alt:disabled,
.bg-azul-correios a.link-btn.btn-txt:disabled {
  color: inherit;
  background-color: transparent;
}

/**** BOTÃO FLUTUANTE ****/
button.btn-flu,
button.btn-flu-g {
  position: fixed;
  bottom: var(--espaco-g);
  right: var(--espaco-m);
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
  z-index: 10;
}

button.btn-flu-g {
  padding: 16px 24px;
}

button.btn-flu:hover,
button.btn-flu:active,
button.btn-flu.ativo,
button.btn-flu-g:hover,
button.btn-flu-g.ativo,
button.btn-flu-g:active {
  background-color: var(--cor-btn-flu-hover);
}

button.btn-flu:focus-visible,
button.btn-flu-g:focus-visible {
  outline: 2px solid var(--cor-focus);
}

button.btn-flu:disabled,
button.btn-flu-g:disabled {
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
}

/* ↳ Botão Flutuante em telas muito pequenas */
@media screen and (max-width: 599px) {
  button.btn-flu {
    padding: 8px;
  }

  button.btn-flu-g {
    padding: 16px;
  }

  button.btn-flu > i:first-child,
  button.btn-flu-g > i:first-child {
    margin-left: 0;
  }

  button.btn-flu span,
  button.btn-flu-g span {
    display: none;
    visibility: none;
  }
}

/* ↳ Botão Flutuante - Alto Contraste - retira borda da elevação */
body.alto-contraste button.elev1,
body.alto-contraste button.elev2,
body.alto-contraste button.elev3,
body.alto-contraste button.elev4,
body.alto-contraste button.elev5 {
  border: none;
}

/* BOTÃO RESPONSIVO - Precisa de ícone e o texto dentro de um span*/

@media screen and (max-width: 899px) {
  button.btn-responsivo,
  a.link-btn.btn-responsivo {
    padding: 8px;
  }

  button.btn-responsivo span,
  a.link-btn.btn-responsivo span {
    display: none;
  }

  button.btn-responsivo > i:first-child,
  a.link-btn.btn-responsivo > i:first-child {
    margin-left: 0;
  }
}

/* Notificações no botão - o texto do botão deve estar dentro de um span */
button span.notificacao,
a.link-btn span.notificacao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  border-radius: 0.5rem;
  font-size: 12px;
  line-height: 1rem;
  height: 1rem;
  min-width: 1rem;
  font-weight: bold;
  color: var(--cor-sobre-erro);
  background-color: var(--cor-erro);
}
