.elemento-a {
  /* --radio-elemento: 2cqh; */
  display: flex;
  flex-wrap: nowrap;
  min-height: 10px;
  align-items: stretch;
  position: relative;

  & .elemento-txt {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  & .elementos {
    height: 100%;
    width: auto;
  }

  & img {
    height: 100%;
    width: auto;
  }
}

.elemento-a.amarelo {
  & .elemento-txt {
    background-color: var(--cor-secundaria);
    color: var(--cor-sobre-secundaria);
  }

  & img {
    filter: brightness(0) saturate(100%) invert(81%) sepia(30%) saturate(1715%)
      hue-rotate(358deg) brightness(102%) contrast(104%);
  }
}
