:root {
  --cor-link-visited: var(--secundaria800);
  --cor-link-active: var(--cor-primaria-alpha);
}

body.tema-escuro {
  --cor-link-visited: var(--secundaria50);
  --cor-link-active: var(--cor-primaria-alpha);
}

body.alto-contraste {
  --cor-link-visited: var(--cor-ac-amarelo);
}

a {
  color: var(--cor-primaria);
  text-decoration: underline;
  border-radius: 4px;
}

a:hover,
a:active {
  background-color: var(--cor-link-active);
}

a:focus-visible {
  outline: 2px solid var(--cor-focus);
  outline-offset: 3px;
}

a:focus {
  box-shadow: none;
}

a:visited {
  color: var(--cor-link-visited);
}

a > i[class^='ic-'] {
  height: 24px;
}

a > img.ic-traco {
  min-width: unset;
  height: 1.5rem;
  width: 1.5rem;
}

/* ↳ Link em background azul correios */

/* ↳ Link em background secundário (amarelo correios) */

/* ↳ Link em background secundário (amarelo correios) - Tema escuro */

body.alto-contraste a img.ic-traco {
  filter: invert(72%) sepia(93%) saturate(560%) hue-rotate(358deg)
    brightness(101%) contrast(105%);
}

body.alto-contraste a:hover {
  outline: 1px solid var(--cor-ac-amarelo);
}
