footer {
  grid-area: footer;
}

footer#rodape {
  width: 100%;
  display: flex;
  grid-area: 1rem;
  flex-direction: column;
  border-top: 2px solid var(--cor-secundaria);

  & p {
    margin-bottom: 0;
  }
}

footer#rodape:has(> :only-child) {
  border-top: none;
}

footer section.links-uteis {
  justify-self: center;
  padding: 1rem;
  display: flex;
  gap: var(--espaco-m);
}

section.links-uteis > section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--espaco-p);
  justify-content: flex-start;

  & .links {
    display: flex;
    flex-direction: column;
  }

  & h5.titulo-rodape {
    min-height: 40px;
    display: flex;
    gap: var(--espaco-p);
    align-items: center;
    margin: 0;
  }
}

footer .esconde {
  display: flex;
  flex-direction: column;
}

footer .icones-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaco-p);
  margin-bottom: var(--espaco-p);
}

footer .pagamentos.icones-row img {
  border-radius: 4px;
  height: 24px;
}

.titulo-rodape button i.ic-marcador-abaixo {
  transition: transform 0.2s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in-out;
}

.titulo-rodape button.ativo i.ic-marcador-abaixo {
  transform: rotateX(180deg);
}

footer #copyright {
  padding: 1rem;
  border-radius: var(--raio-borda-g) var(--raio-borda-g) 0 0;
  background: url(../imgs/bg-prisma.svg) var(--cor-secundaria) center bottom
    no-repeat;
  background-color: var(--cor-secundaria);
  color: var(--cor-sobre-secundaria);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaco-m);

  & > * {
    flex: 1;
  }

  & .marca-correios-gov {
    display: flex;
    justify-content: center;

    & img {
      height: 2.5rem;
      filter: brightness(0) saturate(100%) invert(14%) sepia(86%)
        saturate(1886%) hue-rotate(183deg) brightness(100%) contrast(102%);
    }
  }
}

@media screen and (max-width: 799px) {
  footer section.links-uteis {
    flex-direction: column;
    gap: var(--espaco-m);
  }

  footer .titulo-rodape[data-esconde] {
    cursor: pointer;
  }

  footer .esconde {
    display: none;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
  }

  footer .esconde.aberto {
    display: flex;
    max-height: 500px;
    opacity: 1;
  }

  footer #copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--espaco-p);

    & p {
      text-align: center;
    }

    & .marca-correios-gov {
      order: -1;
    }
  }
}

@media screen and (min-width: 800px) {
  .titulo-rodape > button {
    display: none;
  }
}
