header#topo {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--cor-secundaria);

  & img.marca-correios {
    height: 2rem;
  }

  & .nav-topo {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    /* gap: var(--espaco-p); */
  }

  & .login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & .login .btn-usuario > img {
    border-radius: 50%;
  }

  & .login #nome-usuario {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .nav-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--espaco-m);
    min-width: 328px;
    z-index: 1;
    padding: 2rem;
    border-radius: var(--raio-borda);
    top: 3rem;
    right: 0;

    & section {
      display: flex;
      flex-direction: column;
      gap: var(--espaco-p);
      padding-bottom: var(--espaco-m);
      border-bottom: 1px solid var(--cor-linha);

      & p {
        margin: 0;
      }
    }

    & section:only-child,
    & section:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  & #busca {
    display: flex;
    justify-content: center;
  }

  & #busca .campo-txt {
    flex: auto;
    border-radius: var(--raio-borda);
    background-color: var(--cor-superficie);
    width: 300px;
    margin-bottom: 0;

    & input {
      outline: none;
      border: none;
      height: 40px;
    }

    & input:focus-visible {
      outline: 2px solid var(--cor-primaria);
      border-radius: var(--raio-borda);
    }
  }
}

#btn-campo-busca {
  display: none;
}

@media screen and (max-width: 1199px) {
  header#topo #busca .campo-txt {
    width: 200px;
  }
}

@media screen and (max-width: 799px) {
  #busca {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 599px) {
  header#topo {
    & img.marca-correios {
      height: 1.8rem;
    }

    & .login {
      flex: 1;
      justify-content: flex-end;
    }
  }
}
